<div class="container">
  <div class="content">
    <h2>Edit Appointment</h2>
    <form (ngSubmit)="onEditAppointment()">
      <div class="form-group">
        <label for="patientId">Patient</label>
        <select
          id="patientId"
          [(ngModel)]="appointmentObj.patientId"
          name="patientId"
          class="form-control"
          required
        >
          <option
            *ngFor="let patient of patients"
            [value]="patient.userId"
            [selected]="patient.userId === appointmentObj.patientId"
          >
            {{ patient.fullName }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="doctorId">Doctor</label>
        <select
          id="doctorId"
          [(ngModel)]="appointmentObj.doctorId"
          name="doctorId"
          class="form-control"
          required
        >
          <option
            *ngFor="let doctor of doctors"
            [value]="doctor.userId"
            [selected]="doctor.userId === appointmentObj.doctorId"
          >
            {{ doctor.fullName }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="appointmentDate">Date & Time</label>
        <input
          type="datetime-local"
          id="appointmentDate"
          [(ngModel)]="appointmentObj.appointmentDate"
          name="appointmentDate"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select
          id="status"
          [(ngModel)]="appointmentObj.status"
          name="status"
          class="form-control"
          required
        >
          <option [value]="1">Unconfirmed</option>
          <option [value]="2">Upcoming</option>
          <option [value]="3">Completed</option>
          <option [value]="4">Cancelled</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
</div>
