<div class="container">
  <div class="content">
    <h2>Add New Appointment</h2>
    <form (ngSubmit)="onAddAppointment()">
      <div class="form-group">
        <label for="patientId">Patient</label>
        <input
          type="number"
          id="patientId"
          [(ngModel)]="appointmentObj.patientId"
          name="patientId"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="doctorId">Doctor</label>
        <input
          type="number"
          id="doctorId"
          [(ngModel)]="appointmentObj.doctorId"
          name="doctorId"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="appointmentDate">Date & Time</label>
        <input
          type="datetime-local"
          id="appointmentDate"
          [(ngModel)]="appointmentObj.appointmentDate"
          name="appointmentDate"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Add Appointment</button>
    </form>
  </div>
</div>
