<div class="container">
  <div class="content">
    <h2>Add New Appointment</h2>
    <form (ngSubmit)="onAddAppointment()">
      <div class="form-group">
        <label for="patientId">Patient</label>
        <select
          id="patientId"
          [(ngModel)]="appointmentObj.patientId"
          name="patientId"
          class="form-control"
          required
        >
          <option *ngFor="let patient of patients" [value]="patient.userId">
            {{ patient.fullName }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="doctorId">Doctor</label>
        <select
          id="doctorId"
          [(ngModel)]="appointmentObj.doctorId"
          name="doctorId"
          class="form-control"
          required
        >
          <option *ngFor="let doctor of doctors" [value]="doctor.userId">
            {{ doctor.fullName }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="appointmentDate">Date & Time</label>
        <input
          type="datetime-local"
          id="appointmentDate"
          [(ngModel)]="appointmentObj.appointmentDate"
          name="appointmentDate"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Add Appointment</button>
    </form>
  </div>
</div>
