<div class="container-fluid">
  <div class="content">
    <h2>Appointment List</h2>
    <div class="form-group row">
      <label for="statusFilter" class="col-sm-2 col-form-label"
        >Filter by Status</label
      >
      <div class="col-sm-4">
        <select
          id="statusFilter"
          class="form-select"
          [(ngModel)]="selectedStatus"
          (change)="filterAppointments()"
        >
          <option value="">All</option>
          <option value="1">Unconfirmed</option>
          <option value="2">Upcoming</option>
          <option value="3">Completed</option>
          <option value="4">Cancelled</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="search" class="col-sm-2 col-form-label">Search</label>
      <div class="col-sm-4">
        <input
          type="text"
          id="search"
          class="form-control"
          [(ngModel)]="search"
          (keyup.enter)="onSearch()"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="from" class="col-sm-2 col-form-label">From</label>
      <div class="col-sm-4">
        <input
          type="date"
          id="from"
          class="form-control"
          [(ngModel)]="from"
          (change)="onSearch()"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="to" class="col-sm-2 col-form-label">To</label>
      <div class="col-sm-4">
        <input
          type="date"
          id="to"
          class="form-control"
          [(ngModel)]="to"
          (change)="onSearch()"
        />
      </div>
    </div>
    <button
      class="btn btn-primary mb-3"
      *ngIf="userRole === 'Admin'"
      (click)="newAppointment()"
    >
      Add Appointment
    </button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Patient Name</th>
          <th scope="col">Doctor Name</th>
          <th scope="col">Appointment Date</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of filteredAppointments; let i = index">
          <th
            scope="row"
            (click)="viewAppointmentDetails(appointment.appointmentId)"
            style="cursor: pointer"
          >
            {{ i + 1 }}
          </th>
          <td>{{ appointment.patient.fullName }}</td>
          <td>{{ appointment.doctor.fullName }}</td>
          <td>{{ appointment.appointmentDate | date : "short" }}</td>
          <td>{{ getStatusLabel(appointment.status) }}</td>
          <td>
            <button
              *ngIf="
                (appointment.status === 1 || appointment.status === 2) &&
                userRole === 'Admin'
              "
              class="btn btn-primary btn-sm"
              (click)="editAppointment(appointment)"
            >
              Edit
            </button>
            <button
              *ngIf="userRole === 'Doctor' && appointment.status === 1"
              class="btn btn-success btn-sm"
              (click)="
                changeStatus(appointment.appointmentId, 2);
                $event.stopPropagation()
              "
            >
              Confirm
            </button>
            <button
              *ngIf="userRole === 'Doctor' && appointment.status === 1"
              class="btn btn-danger btn-sm"
              (click)="
                changeStatus(appointment.appointmentId, 4);
                $event.stopPropagation()
              "
            >
              Cancel
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="pageNumber === 1">
          <a class="page-link" (click)="onPageChange(pageNumber - 1)"
            >Previous</a
          >
        </li>
        <li
          class="page-item"
          *ngFor="let page of getPagesArray(); let i = index"
          [class.active]="pageNumber === page"
        >
          <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
        </li>
        <li
          class="page-item"
          [class.disabled]="pageNumber === getPagesArray().length"
        >
          <a class="page-link" (click)="onPageChange(pageNumber + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
